ul{
  list-style-type: none;
  margin-left: 180px;
}

ul li{
  display: inline;
}

body{
  background-color: #3C3C3C;
}

a{
  color: #D7D7D7;
  text-decoration: none;
}

a:hover{
  color: #C2C2C2;
}

#layout{
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}

#header{
  width: 960px;
  text-align: center;
}

#cons{
  color: white;
}

#desc{
  color: white;
}

#proj{
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  height: 300px;
}

#sense{
  margin-top: 80px;
  color: white;
  width: 850px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
}

.main{
  width: 180px;
  height: 300px;
  border: 1px solid gray;
  float: left;
  margin-right: 20px;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.main h1{
  margin-top: 50px;
  color: white;
}

.git{
  width:180px;
  margin-top: 80px;
  border-top: 1px dashed gray;
  padding-top: 10px;
}

.label{
  display: block;
  font-size: 16px;
  height: 15px;
}